{% extends "usuarios/base.html" %}
{% block content %}
   
    <section>
        <div class="feed-divider"></div>
        <h2 id="heading1">Cadastro</h2>

        <form class="cadastro-card" action="{% url 'listagem_usuarios' %}" method="post">

            {% csrf_token %}

            <fieldset class="cadastro-item">

                <div class="campo">
                    <label for="nome"></label>
                    <br>
                    <input required type="text" id="nome" name="nome" placeholder="Nome completo"/>
                </div>

                <div class="campo">
                    <label for="Email"></label>
                    <br>
                    <input required type="text" id="email" name="email" placeholder="Email"/>
                </div>

                <div class="campo">
                    <label for="date"></label>
                    <br>
                    <input required type="text" name="data_nascimento" id="date" placeholder ="Data de nascimento" onfocus="this.type='date'" onblur="this.type='text'" />
                </div>

                <div class="campo">
                <label for="Telefone"></label>
                <br>
                <input required type="tel" id="telefone" name="telefone" placeholder="Telefone"/>
                </div>

                <div class="campo">
                    <label for="pass"></label>
                    <br>
                    <input required type="password" id="senha" name="senha" minlength="8" placeholder="Senha"/>
                </div>

                <div class="campo">
                    <label for="conf_senha"></label>
                    <br>
                    <input required type="password" id="conf_senha" name="conf_senha" minlength="8" placeholder="Repita a senha"/>
                </div>

                <div class="campo">
                <button class="button">Cadastrar</button>
                </div>
                
            </fieldset>

        </form>
        
    </section>

{% endblock %}