{% extends "usuarios/base.html" %}
{% block content %}
{% load static %}

    <section>
        <h2 id="heading1">Filmes</h2>
        <div class="feed-divider-movies"></div>

        <div class="card-list">
            <a href="#" class="card-item">
                <img src="{% static "images/the-creator-poster.jpg" %}" alt="card image">
                <h2 class="movie-title">The Creator</h2>
                <h3 class="movie-info">Infos</h3>
            </a>

            <a href="#" class="card-item">
                <img src="{% static "images/asteroid-city-poster.jpeg" %}" alt="card image">
                <h2 class="movie-title">Asteroid City</h2>
                <h3 class="movie-info">Infos</h3>
            </a>

            <a href="#" class="card-item">
                <img src="{% static "images/guardians-of-the-galaxy-3-poster.jpeg" %}" alt="card image">
                <h2 class="movie-title">Guardians of the Galaxy Vol. 3</h2>
                <h3 class="movie-info">Infos</h3>
            </a>

            <a href="#" class="card-item">
                <img src="{% static "images/jw4-baba-yaga-poster.jpg" %}" alt="card image">
                <h2 class="movie-title">John Wick 4: Baba Yaga</h2>
                <h3 class="movie-info">Infos</h3>
            </a>
        </div>

    </section>

{% endblock  %} 