{% extends "usuarios/base.html" %}
{% block content %}

    <section>

        <div class="feed-divider"></div>
        <h2 id="heading1">Login</h2>
        
        <form class="login-card"  action="#" method="get">

            <fieldset class="login-item">
                <div class="campo">
                    <label for="username"></label>
                    <input required type="text" id="email" name="email" placeholder="Email" />
                </div>
                <br>
                <div class="campo">
                    <label for="pass"></label>
                        <input required type="password" id="senha" name="senha" minlength="8" placeholder="Senha"/>
                </div>
                <br>
                
                <div class="campo">
                        <button class="button">Entrar</button>
                </div>

            </fieldset>

        </form>

        <bottom>
            <div class="extra">
                <h3>Ainda não possui cadastro?</h3>
                <a href="{% url 'cadastro' %}">Cadastrar-se</a>
            </div>
        </bottom>

    </section>

{% endblock  %}