{% extends "base.html" %}
{% block content %}
   
    <section>
        <h2 class="heading1">Cadastro</h2>

        <form class="cadastro-card" method="POST" action="{% url 'cadastro' %}">

            {% csrf_token %}

            {{ form.as_p }}

            <fieldset class="cadastro-item">

                <div class="campo">
                    <input required type="text" name="username" placeholder="Nome de usuário"/>
                </div>

                <div class="campo">
                    <input required type="email" name="email" placeholder="Email"/>
                </div>

                <div class="campo">
                    <input required type="text" name="data_nascimento" placeholder ="Data de nascimento" onfocus="this.type='date'" onblur="this.type='text'" />
                </div>

                <div class="campo">
                <input required type="tel" name="telefone" placeholder="Telefone"/>
                </div>

                <div class="campo">
                    <input required type="password" name="senha1" minlength="8" placeholder="Senha"/>
                </div>

                <div class="campo">
                    <input required type="password" name="senha2" minlength="8" placeholder="Repita a senha"/>
                </div>

                <div>
                <button type="submit" class="button">Cadastrar</button>
                </div>
                
            </fieldset>

        </form>
        
    </section>

{% endblock %}