{% extends "base.html" %}
{% block content %}
{% load static %}

    <section>
        
        <h2 class="heading1">Top 20 filmes mais votados em {{ current_year }}</h2>
        <div class="feed-divider-movies"></div>

        {% for poster, title, vote_average, vote_count, overview in posters %}
            <div class="card-list">

                <div class="card-item"> 
                    <img src="https://image.tmdb.org/t/p/w500/{{ poster }}" alt="a movie poster">
                    <h2 class="movie-title"><strong>{{ title }}</strong></h2>

                    <div class="info-container">
                        <h3 class="movie-title-hover">{{ title }}</h3>

                        <div class="additional-info">
                            <p class="rating">{{ vote_average }} &#9733; &lpar;{{ vote_count }}&rpar; </p>                  
                            <p class="overview">{{ overview }}</p>                                     
                        </div>

                    </div>

                </div>

            </div>
        {% endfor %}

    </section>

{% endblock  %} 