{% extends "base.html" %}
{% block content %}

{% load static %}

    {% if user.is_authenticated %}
    <h1 class="heading1">Você já está conectado!</h1>

    {% else %}

    <section>
        <h2 class="heading1">Login</h2>
        
        <form class="login-card" method="POST" action=" {% url 'login' %}">

            {% csrf_token %}

            {{ form.as_p }}

            <fieldset class="login-item">
                <div class="campo">
                    <input required type="text" name="username" placeholder="Nome de Usuário"/>
                </div>

                <br>

                <div class="campo">
                        <input required type="password" name="senha1" minlength="8" placeholder="Senha"/>
                </div>
                <br>
                
                <div>
                        <button type="submit" class="button">Entrar</button>
                </div>
            </fieldset>

        </form>

        <bottom>
            <div class="extra">
                <h3>Ainda não possui cadastro?</h3>
                <a href="{% url 'cadastro' %}">Cadastrar-se</a>
            </div>
        </bottom>

    </section>

    {% endif %}

{% endblock  %}