{% extends 'base.html' %}
{% block content %}

{% load static %}

<section>

    <h2 id="heading1">Desenvolvedores desse projeto:</h2>

    <div class="extra">
        <h3>Gustavo de Lara Freschi <br>
            Instagram: <a href="#">@gu.freschi</a> <br>
            LinkedIn: <a href="#">linkedin.com/in/gustavo-freschi-03aa31252</a>
        </h3>

        <br>

        <div class="feed-divider"></div>

        <br>

        <h3>Gustavo de Lara Freschi <br>
            Instagram: <a href="#">@gu.freschi</a> <br>
            LinkedIn: <a href="#">linkedin.com/in/gustavo-freschi-03aa31252</a>
        </h3>

        <br>

        <div class="feed-divider"></div>

        <br>

        <h3>Gustavo de Lara Freschi <br>
            Instagram: <a href="#">@gu.freschi</a> <br>
            LinkedIn: <a href="#">linkedin.com/in/gustavo-freschi-03aa31252</a>
        </h3>

        <br>

        <div class="feed-divider"></div>

        <br>

        <h3>Gustavo de Lara Freschi <br>
            Instagram: <a href="#">@gu.freschi</a> <br>
            LinkedIn: <a href="#">linkedin.com/in/gustavo-freschi-03aa31252</a>
        </h3>

        <br>

        <div class="feed-divider"></div>

        <br>
        
        <h3>Gustavo de Lara Freschi <br>
            Instagram: <a href="#">@gu.freschi</a> <br>
            LinkedIn: <a href="#">linkedin.com/in/gustavo-freschi-03aa31252</a>
        </h3>

        <br>
    </div>

</section>

<bottom>
    <h2 id="heading1">Fonte de dados e imagens:</h2>

    <div class="extra">
        <span class="tmdb">
            <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg" alt="The Movie Database logo">
        </span>
    </div>
</bottom>

{% endblock %}