{% extends 'base.html' %}
{% block content %}

{% load static %}

<section>

    <h2 class="heading1">Desenvolvedores desse projeto:</h2>

    <div class="extra">
        <h3>Luiz Gustavo de Lara Freschi:<br>
            <div class="references">
                <a href="https://github.com/gufreschi" target="blank"><img src="{% static "images/github-icon.png" %}" alt="Github icon"></a>
                <a href="https://linkedin.com/in/gustavo-freschi-03aa31252" target="blank"><img src="{% static "images/linkedin-icon.png" %}" alt="LinkedIn icon"></a>
                <a href="https://www.instagram.com/gu.freschi/" target="blank"><img src="{% static "images/insta-icon.png" %}" alt="Instagram icon"></a>
            </div>
        </h3>

        <br>

        <br>

        <h2>Fonte de dados e imagens:</h2>
        <span class="tmdb">
            <a href="https://www.themoviedb.org" target="blank"><img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg" alt="The Movie Database logo"></a>
        </span>
    </div>

</section>

{% endblock %}