*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SoDo Sans SemiBold";
}

:root{
    /* ===== Colors ===== */
    --body-color: #1d1b1b;
    --sidebar-color: #333333;
    --primary-color: #f7b26a;
    --secondary-color: #f5e169;
    --searchbar-color: #3a3b3c;
    --text-color: #FFF;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 5.5em;
}

.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .description{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--searchbar-color);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--searchbar-color);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar{
    display: none;
}

.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--searchbar-color);
    position: relative;
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

#heading1 {
    text-align: center;
    margin-top: 2em;
    margin-left: 88px;
    color: var(--text-color);
  }
  
.feed-divider-movies {
    width: 50%;
    height: 2px;
    margin-left: 88px;
    background-color: var(--secondary-color)
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
    margin: 10em auto;
    padding: 20px;
    row-gap: 10em;
}

.card-list .card-item {
    background: #fff;
    padding: 0.2em;
    width: 18em;
    margin-left: 3.2em;
    margin-top: -8em;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
}

@media screen and (max-width: 1300px) {
    .card-list .card-item {
        margin-left: 4.7em;
    }
    
}

.card-list .card-item:hover {
    border: 2px solid #000;
}

.card-list .card-item img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.movie-title {
    color: #000;
    font-size: 1.5em;
} 

.movie-info {
    color: #131313;
    font-size: 1em;
}

.cadastro-card,
.login-card {
    display: flex;
    justify-content: center;
    margin-left: 88px;
    margin-top: 2em;
}

.cadastro-item,
.login-item {
    background-color: var(--body-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    border: none;
    width: 30em;
    gap: 1em;
}

.campo input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
    padding: 1em;
}

.campo input:focus {
    background-color: var(--searchbar-color);
}

.campo .button {
    background-color: var(--body-color);
    color: var(--text-color);
    margin-left: 7em;
    margin-bottom: 2em;
    width: 10em;
    padding: 0.5em;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
}

.campo .button:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.extra {
    color: var(--text-color);
    font-size: 15px;
    margin-top: 4em;
    text-align: center;
    margin-left: 88px;
}

.extra a {
    color: var(--primary-color);
}

.message-container {
    background-color: var(--secondary-color);
    width: 50%;
    height: 3em;
    display: flex;
    margin-left: 29em;
    margin-top: 1em;
    border: 1px;
    border-radius: 5px;
}

.message-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin-top: 8px;
    font-size: 1.5em;
    color: #000;
}

.close-button {
    display: block;
    font-size: 2em;
    position: absolute;
    margin-left: 49%;
}